.container {
  width: 100%;
  padding: 20px 20px 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  height: 72px;

  font-size: 40px;
  font-weight: 700;
}

.filters {
  width: 100%;
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
}

.carsList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.noCarsMessage {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  opacity: 0.5;
}
