@use "../../../styles/colors.scss" as *;

.selectContainer {
  display: flex;
  flex-direction: column;
}

.selectLabel {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  opacity: 0.5;
}

.selectField {
  padding: 10px;
  color: $main-white;
  border: 1px solid $lighter-gray;
  background-color: $light-gray;
  border-radius: 5px;
  font-size: 14px;
  appearance: none; // Removes default browser styling for select dropdowns

  &:focus {
    outline: none;
  }
}

.selectError {
  color: $red-error;
  font-size: 12px;
  margin-top: 5px;
}
