$dark-gray: #1c1c1c;
$light-gray: #212121;
$lighter-gray: #414141;
$elements-neutral-grey: #2c2c2c;
$main-white: #eaeaeb;
$accent-pink: #ff8989;

$sidebar-bg: #151515;
$sidebar-item-bg: #1c1c1c;

$red-error: #ff4545;
$yellow-warning: #ffcc00;
