@use "../../../../styles/colors.scss" as *;

.carInfoItem {
  width: 100%;
  min-height: 36px;
  padding: 5px;

  border-radius: 5px;
  background-color: $elements-neutral-grey;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.iconWrapper {
  height: 26px;
  width: 26px;
  padding: 6px;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #343434;
}

.icon {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.text {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.8;
}

.iconText {
  font-size: 12px;
  font-weight: 300;
}

.damageDescription {
  margin-top: 10px;

  font-size: 12px;
  font-weight: 300;
  opacity: 0.8;
}

.highSeverityCarInfo {
  background-color: rgba($color: $red-error, $alpha: 0.3);
}

.highSeverityIconWrapper {
  background-color: rgba($color: $red-error, $alpha: 0.6);
}

.mediumSeverityCarInfo {
  background-color: rgba($color: $yellow-warning, $alpha: 0.3);
}

.mediumSeverityIconWrapper {
  background-color: rgba($color: $yellow-warning, $alpha: 0.6);
}
