@use "../../../styles/colors.scss" as *;

.numberInputContainer {
  display: flex;
  flex-direction: column;
}

.numberInputLabel {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  opacity: 0.5;
}

.numberInputField {
  padding: 10px;
  color: $main-white;
  border: 1px solid $lighter-gray;
  background-color: $light-gray;
  border-radius: 5px;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.numberInputError {
  color: $red-error;
  font-size: 12px;
  margin-top: 5px;
}
